[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = The freelance project
[access "refs/*"]
	owner = group user/Maksym Lazarenko (lazexe)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Maksym Lazarenko (lazexe)
	label-Verified = -1..+1 group user/Maksym Lazarenko (lazexe)
	push = group user/Maksym Lazarenko (lazexe)
	read = group user/Maksym Lazarenko (lazexe)
	rebase = group user/Maksym Lazarenko (lazexe)
	removeReviewer = group user/Maksym Lazarenko (lazexe)
	submit = group user/Maksym Lazarenko (lazexe)
[access "refs/heads/*"]
	create = group user/Maksym Lazarenko (lazexe)
	push = +force group user/Maksym Lazarenko (lazexe)
	pushMerge = group user/Maksym Lazarenko (lazexe)
	read = group user/Maksym Lazarenko (lazexe)
[access "refs/tags/*"]
	push = group user/Maksym Lazarenko (lazexe)
	push = +force group user/Maksym Lazarenko (lazexe)
